$bg-color: rgb(28, 39, 43);
$link-bg: #f1574f;
$primary: rgb(240, 229, 229);

@mixin easeOut() {
  transition: all 1s ease-out;
}

@mixin slideImgHeight {
  #slide-images {
    .slide {
      img {
        height: 450px;
      }
    }
  }
}

@mixin parentDropdown {
  display: block;
  position: absolute;
  float: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.55rem 0 0 0;
  font-size: 16px;
  font-weight: 500;
  color: $bg-color;
  text-align: left;
  list-style: none;
  background-color: rgb(236, 221, 221);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

@mixin childDropdown {
  display: block;
  clear: both;
  font-size: 14px;
  font-weight: 600;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  color: $bg-color;
  line-height: 24px;
  padding: 6px 24px;
  width: 220px;
}

@mixin dropHover {
  &:hover {
    background: #ee7770 none repeat scroll 0% 0%;
  }
}

@mixin dropHovMob {
  &:hover {
    color: #ee7770;
  }
}

@mixin fade($num: 1, $fade: 1, $visible: 2) {
  $a: 100 / (($fade + $visible) * $num);
  @keyframes fade {
    0% {
      opacity: 0;
    }
    #{$a * $fade}% {
      opacity: 1;
    }
    #{$a * ($fade + $visible)}% {
      opacity: 1;
    }
    #{$a * ($fade + $visible + $fade)}% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  animation-name: fade;
  animation-duration: (($fade + $visible) * $num) + s;
  animation-iteration-count: infinite;

  @for $i from 1 through $num {
    &:nth-child(#{$i}) {
      animation-delay: (#{($fade + $visible) * ($i - 1)}) + s;
    }
  }
}

@mixin mediaSm {
  // width cannot be more than 668px
  @media screen and (max-width: 668px) {
    @content;
  }
}

@mixin mediaMd {
  // width cannot be more than 871px
  @media screen and (max-width: 871px) {
    @content;
  }
}

@mixin mediaLg {
  // width cannot be less than 769px
  @media screen and (min-width: 872px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  // width cannot be less than 1171px
  @media screen and (min-width: 1171px) {
    @content;
  }
}
