// Smartphones
@include mediaSm {
  nav {
    justify-content: space-between;
    position: relative;
    .logo {
      img {
        max-height: 50px;
      }
    }

    .nav-container {
      display: none;
      &.show {
        top: 80px;
        bottom: 0px;
        position: fixed;
        display: block;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        background-color: $bg-color;
        left: 0px;
        overflow-y: scroll;
        .nav-menu {
          height: 100vh;
          width: 100%;
          display: flex;
          // position: absolute;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: wrap;
          @include easeOut();

          .nav-item {
            margin: 2rem 0 1rem 3rem;
            float: left;
            width: 100%;

            .nav-link {
              font-size: 18px;
              display: block;
            }
          }

          #dropdown-three,
          #dropdown-one {
            i {
              float: right;
              margin-right: 110px;
            }
          }

          .transformer-dropdown {
            display: none;
            &.show {
              display: block;
              background-color: $bg-color !important;
              border: medium none !important;
              z-index: 0 !important;
              width: 100%;
              overflow: auto;

              .transformer-item {
                display: block;
                clear: both;
                width: 100%;
                font-weight: 600;
                text-align: inherit;
                white-space: nowrap;
                background-color: transparent;
                color: $primary;
                padding: 8px 0;
                // line-height: 14px;
                &:hover {
                  color: $link-bg;
                }
              }
            }
          }
          .led-dropdown {
            display: none;
            &.show {
              display: block;
              overflow: auto;
              background-color: $bg-color !important;
              border: medium none !important;
              margin-left: 0 !important;
              min-width: 7rem;
              width: 100%;
              z-index: 0 !important;

              .led-item {
                display: block;
                clear: both;
                font-weight: 600;
                width: 100%;
                text-align: inherit;
                white-space: nowrap;
                padding: 8px 0;
                background-color: transparent;
                color: $primary;
                &:hover {
                  color: $link-bg;
                }
              }
            }
          }
        }
      }
    }

    .burger {
      display: block;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 40px;
  }

  .content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .container {
      .origin {
        .start {
          font-size: 18px;
          padding: 2rem 3rem 2rem 3rem;
        }
      }
    }
  }

  .contain-this {
    .product-container {
      .product-img {
        img {
          max-width: 12rem;
          max-height: 12rem;
        }
      }
      .info {
        .name {
          .title {
            font-size: 18px;
          }
        }
        .variants {
          ol {
            font-size: 12px;
          }
        }
      }
    }
  }

  footer {
    .contact-icons {
      .contain-icons {
        .social-icons1 {
          flex: auto;
          .contain1 {
            justify-content: center !important;
            flex-wrap: wrap;
            max-width: 100%;
          }
        }

        .social-icons2 {
          flex: auto;
          .contain2 {
            justify-content: center !important;
            flex-wrap: wrap;
            max-width: 100%;
          }
        }
      }
    }
  }
  .last {
    .contain-line {
      .mr-4 {
        font-size: 12px !important;
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  nav {
    .nav-container {
      .nav-menu {
        min-width: 100%;
      }
    }
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    .container {
      .cards {
        .card {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    .container {
      .about-cards {
        .card {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@include mediaLg {
  @include slideImgHeight;
  nav {
    .nav-container {
      .nav-menu {
        min-width: 90%;
      }
    }
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    .container {
      .cards {
        .card {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    .container {
      .about-cards {
        .card {
          flex: 0 0 100%;
          width: 100%;
        }
      }
    }
  }
}

@include mediaXl {
  @include slideImgHeight;
}
