// Smartphones
@include mediaSm {
  h2 {
    font-size: 40px;
  }

  nav {
    .navbar-collapse {
      margin-top: 1rem;
      .navbar-nav {
        .nav-item {
          .dropdown-menu {
            background-color: $bg-color !important;
            min-width: 20rem;
            outline: none;
            border: none;
            margin: 0 !important;
            a {
              color: $primary;
              padding: 0.3rem 1.5rem;
              font-size: 12px;
              font-weight: 700;
              float: right;
              margin-right: 10px;
              letter-spacing: 0;

              &:hover {
                background-color: $link-bg;
              }
            }
          }
        }
      }
    }
  }

  .content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    .container {
      .cards {
        .card-native {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .origin {
        .start {
          font-size: 18px;
          padding: 2rem 3rem 2rem 3rem;
        }
      }
    }
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    .container {
      .about-cards {
        .card-native {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  .contain-this {
    .product-container {
      max-height: 700px;
      .product-img {
        img {
          max-width: 10rem;
          max-height: 10rem;
        }
      }
      .info {
        .watt,
        .colors,
        .base,
        .color-temp,
        .input-volt,
        .power,
        .lumen,
        .designs,
        .roll,
        .driver {
          h4 {
            font-size: 12px;
          }
        }
        .name {
          .title {
            font-size: 16px;
          }
        }
        .variants {
          margin-bottom: 0;
          padding-left: 0;
          ol {
            &.coils {
              display: inline-block;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  footer {
    overflow-x: hidden;
    .contact-icons {
      .contain-icons {
        .social-icons1 {
          flex: auto;
          .contain1 {
            justify-content: center !important;
            flex-wrap: wrap;
            max-width: 100%;
          }
        }

        .social-icons2 {
          flex: auto;
          .contain2 {
            justify-content: center !important;
            flex-wrap: wrap;
            max-width: 100%;
          }
        }
      }
    }
  }
  .last {
    .contain-line {
      .mr-4 {
        margin-left: 1rem;
        font-size: 12px !important;
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  nav {
    .navbar-collapse {
      margin-top: 1rem;
      .navbar-nav {
        .nav-item {
          .dropdown-menu {
            background-color: $bg-color !important;
            min-width: 20rem;
            outline: none;
            border: none;
            margin: 0 !important;
            a.dropdown-item {
              color: $primary;
              font-size: 12px;
              font-weight: 600;
              float: right;
              margin-right: 10px;
              letter-spacing: 0;
              padding: 0.3rem 1.5rem;

              &:hover {
                background-color: $link-bg;
              }
            }
          }
        }
      }
    }
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    .container {
      .cards {
        .card-native {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    .container {
      .about-cards {
        .card-native {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@include mediaLg {
  nav {
    .navbar-collapse {
      margin-top: 1rem;
      .navbar-nav {
        .nav-item {
          .dropdown-menu {
            // background-color: $bg-color;
            min-width: 20rem;
            outline: none;
            border: none;
            margin: 0 !important;
            a.dropdown-item {
              // color: $primary;
              font-size: 12px;
              font-weight: 600;
              float: none;
              margin-right: 0;

              &:hover {
                background-color: $link-bg;
              }
            }
          }
        }
      }
    }
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    .container {
      .cards {
        .card-native {
          flex: 0 0 100%;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    .container {
      .about-cards {
        .card-native {
          flex: 0 0 100%;
          width: 100%;
        }
      }
    }
  }
}

@include mediaXl {
  .content {
    .container {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}
