nav.navbar {
  background-color: $bg-color !important;
  min-height: 6rem;
  .logo {
    display: inline-block;
    img {
      max-height: 50px;
    }
  }

  .navbar-toggler {
    background-color: $bg-color !important;
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
    .navbar-toggler-icon {
      color: $primary !important;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  .collapse {
    .navbar-nav {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;
      .nav-item {
        margin-right: 2rem !important;
        &.active > a {
          color: $link-bg;
        }
        .nav-link {
          color: $primary;
          &:hover {
            color: $link-bg;
          }
        }
        &.dropdown {
          .dropdown-menu {
            background-color: $primary;
            a.dropdown-item {
              font-size: 14px;
              letter-spacing: 0;
              font-weight: 500;
              &:hover {
                background-color: $link-bg;
              }
            }
          }
        }
      }
    }
  }
}
